.cadre-pages {
  margin-top: 90px;
  padding: 0 25%;
}

.about {
  box-shadow: 0 0px 8px rgba(0,0,0,0.2);
  padding: 60px 40px 60px 40px;
  margin-top: 40px;
  position: relative;
  text-align: justify;
  p {
    margin-bottom: 0rem;
  }
}

.pages-connexion {
  margin: 100px 300px;
}

.photo-about {
  position: absolute;
  top: 16px;
  right: 36px;
}
