<%= render 'shared/navbar' %>
<div class="cadre-pages">
  <div class="container">
  <h1>À propos</h1>
  <div class="about">
    <p>Bonjour ! </p>
    <p>Moi, c'est Victor.</p>
    <p>J'ai toujours adoré les travaux manuels et il y a maintenant 3 ans, j'ai commencé à suivre des cours de poterie avec Brigitte Conversin, à Lyon.</p>
    <p>Avec elle, j'ai appris énormément de choses et j'ai pris du plaisir à imaginer des objets utiles et décalés.</p>
    <p>Sur ce site, je vous propose de découvrir ce que j'ai réalisé jusqu'à présent.</p>
    <p>N'hésitez pas à m'envoyer un petit <%= mail_to "victor_blot@hotmail.fr" do %>
  <strong>mail</strong>
<% end %> pour me dire ce que vous en pensez ou me proposer de nouvelles idées, je suis toujours preneur !</p>
  </div>
  </div>
</div>
