<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1488977678660-dca8681ca872?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
      <%= render 'shared/navbar' %>
  <div class="container">
    <h1>Poteries et rêveries</h1>
<!--     <a class="btn btn-flat" href="#">Voir plus</a> -->
  </div>
  <div class="intro">
    <p>Salut ! Depuis quelque temps, je crée des choses jolies et utiles. J'espère que ça vous plaira ! Victor</p>
  </div>
</div>


<div class="container-cards">
<p>Voir plus</p>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523976714396-3ee195e3b3a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">

  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523367438061-01c055ce790c?ixlib=rb-1.2.1&auto=format&fit=crop&w=968&q=80)">

  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523367118146-091f762cd8ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80)">

  </div>
</div>

</div>
